.header {
  //@extend .container-fluid;
  background-color: lighten(black, 75%);

  .er-bg-left, .er-bg-right {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }

  .er-bg-left {
    background-image: url(media/centennial-ref.gif);
    background-position: 0% -10%;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .er-bg-right {
    background-image: url(media/centennial-gold-banner.gif);
    background-position: 100% -10%;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .er-logo-shadow {
    @include linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
  }

  .er-logo {
    text-align: center;
    margin: 1em auto;
    background-image: url(media/er-logo.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    display: block;
    width: 500px;
    max-width: 100%;
    height: 150px;
    h1 {
      display: none;
    }
  }

  .er-navbar {
    @extend .container-fluid;
    display: block;
    width: 100%;
    background: #000;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.75);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      padding: 0;
    }
    a {
      color: #aaa;
      padding: 10px 20px;
      display: inline-block;
      margin: 0;
      text-transform: uppercase;
      &:hover {
        background-color: #555;
      }
      &.active {
        background-color: #444;
        color: #fff;
      }
    }
    .er-cart {
      margin-left: 2em;
      & > a {
        text-indent: -5000px;
        display: block;
        background-color: #ccc;
        background-image: url(media/cart.svg);
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        background-position: 50%;
        border-radius: 0.2em;
        height: 2em;
        width: 2em;
        padding: 0;
        margin: 0;
      }
    }
  }

}
