<dl>
  <dt><label>Title</label></dt>
  <dd>
    <input class="input-lg" ng-model="tvara.current.title" placeholder="Title">
  </dd>
</dl>

<dl>
  <dt><label>URL</label></dt>
  <dd class="input-group">
    <span class="input-group-addon">{{tvara.url}}{{tvara.current.parentPath}}</span>
    <input ng-model="tvara.current.uri" placeholder="no-spaces-lowercase-use-dashes">
  </dd>
</dl>

<dl>
  <dt><label>Caption</label></dt>
  <dd>
    <textarea rows="10" ng-model="tvara.current.caption"
     placeholder="Entering a caption will be useful for SEO.">
    </textarea>
  </dd>
</dl>

<dl>
  <dt><label>Body</label></dt>
  <dd><textarea rows="25" ng-model="tvara.current.body" placeholder="Body copy"></textarea></dd>
</dl>
