<div>
<h1
    ui-tinymce="vm.tinymceOptions"
    ng-model="tvara.current.title"
    placeholder="Title">
</h1>

<p>
    <div class="input-group">
        <span class="input-group-addon">
            {{tvara.site.url}}/{{tvara.current.parentPath}}
        </span>
        <input
            ng-model="tvara.current.uri"
            placeholder="no-spaces-lowercase-use-dashes">
    </div>
</p>

<div
    ui-tinymce="vm.tinymceOptions"
    ng-model="tvara.current.caption"
    placeholder="Entering a caption will be useful for SEO.">
</div>

<div
    ui-tinymce="vm.tinymceOptions"
    ng-model="tvara.current.body"
    placeholder="Body copy">
</div>
</div>
